body {
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}

.header {
    display:flex;
    width: 100vw;
    height:12vh;
    background-color: #1f293700;
    margin: 0;
    margin-top:-30px;
    padding-top: 30px;
    justify-content: space-around;
    color:white;
    flex-wrap: wrap;
    fill-opacity: 50%;
    overflow:overlay;
}

.header-left {
    display: flex;
    flex-direction: row;
    padding-right: auto;
    padding-left: 2.5vw;
    gap:1.25vw;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
    width:40vmax;
}

@media only screen and (max-width:450px){
    .header-left {
        padding-left:0vw;
    }
}

.logo {
    width:5vw;
    height:5vw;
    align-self: center;
}

.header-links {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex:1 1;
    padding-right: 2.5vw;
    padding-left:auto;
    align-items: center;
    gap: 2vw;
    color:#e5e7eb;
    width:40vmax;
}

@media only screen and (max-width:450px){
    .header-links {
        padding-right:0vw;
    }
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    margin:0px;
    padding-top:175px;
    padding-bottom: 75px;
    padding-right:10vw;
    padding-left:10vw;
    align-content: center;
    color:#e5e7eb;
    background-image: url(tech-city.jpg);
    background-position-y:-100px;
    background-position-x: 250px;
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;
    background-clip:border-box;
    margin-top:-12vh;
    width:fill;
}

.left {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    margin-right:auto;
    gap:0px;
    padding-right: 8px;
    width: 50%;
}

@media only screen and (max-width:450px){
    .left {
        text-align:center;
    }
}

.left-text {
    margin-top: 8px;
    margin-bottom: 8px;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    align-content: right;
    width: 50%;
}

@media only screen and (max-width:450px){
    .right {
        width:0px;
    }
}

.image-container {
    display:flex;
    background-color: grey;
    width:100%;
    height:250px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    opacity:0%;
}

.hero-pic {
    height: 300px;
    width:auto;
}

.second {
    display: flex;
    flex-direction:column;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    height: fill;
    margin-bottom: 40px;
    width:100vw;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:8px;
    gap:2vw;
    flex-wrap:wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px;
    margin-bottom: 0px;
}

.box {
    display: flex;
    width:9.375vw;
    height:9.375vw;
    border:0.156vw solid;
    border-color: #1c8ada;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.box-image {
    width:6.51vw;
    height:6.51vw;
    align-content: center;
}

.third {
    background-color: #e5e7eb;
    margin: 0px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 28px;
    color:#525252;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:fill;
}

.quote {
    font-size: 3.5vmax;
    font-style: oblique;
    font-family: Helvetica, sans-serif;
    color:#1f2937;
    font-weight:lighter;
    margin-bottom:0px;
}

.author {
    display:flex;
    margin-left: auto;
    margin-right: 24px;
    font-size: 24px;
    font-weight: 900;
    margin-top: 0px;
    color:#1F2937;
    font-family: sans-serif;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    height: 225px;
}

.container-two {
    background-color:#1c8ada;
    width:75%;
    display:flex;
    justify-content: space-evenly;
    margin:2vw;
    height: 125px;
    border:2px solid;
    border-color: #ffffff;
    border-radius: 10px;
    padding:1vw;
    flex-wrap:wrap;
}

@media only screen and (max-width:450px){
    .container-two {
        flex-direction:column;
        justify-content:center;
        text-align:center;
    }
}

.call-to-action {
    display: flex;
    flex-direction: column;
    gap:2px;
    color:white;
    justify-content:center;
    align-self:center;
    width:30vw;
}

@media only screen and (max-width:450px){
    .call-to-action {
        width:50vw;
    }
}

.call-heading {
   margin-bottom:0px;
   margin-top:0px;
   font-size: 2vmax;
}

.call-description {
    margin-top:0px;
    font-size:1.5vmax;
}

h1 {
    font-size: 3.750vw;
    color:#f9faf8;
    margin-bottom: -8px;
    margin-top: -8px;
    font-weight: 900;
}

h2 {
    font-size: 2.5vmax;
    align-content: center;
    margin-bottom: 40px;
    color:#1F2937;
}

h3 {
    font-size:1.875vmax;
    color: #f9faf8;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtext {
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
    color: rgb(92, 92, 92);
    line-height: 18px;
    margin-top: 16px;
}

a {
    display:flex;
    text-decoration: none;
    color: #e5e7eb;
    padding: 8px;
    padding-right: 0px;
    padding-left:0px;
    font-size: 1.20vmax;
    font-family: Helvetica, sans-serif;
}

button {
    height:fit-content;
    padding-top:6px;
    padding-bottom: 6px;
    padding-right: 2vw;
    padding-left: 2vw;
    border-color: white;
    color: white;
    border:2px solid;
    background-color: #1c8ada;
    border-radius: 5px;
    align-self: center;
    font-weight: bold;
    font-size:2.5vmin;
}

@media only screen and (max-width:450px){
    .button {
        font-size:0vw;
    }
}

.button-1 {
    border-color:#1c8ada;
    margin-right: auto;
}

@media only screen and (max-width:450px){
    .button-1 {
        margin-right:0;
    }
}

.footer {
    background-color:#1F2937;
    margin: 0px;
    color:rgb(206, 205, 205);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw
}